.heading h1 {
    font-family: "Merriweather Sans", sans-serif;
  text-align: center;
  margin-top: 2em;
  font-size: 6em;
  font-weight: 400;
  font-size: 100px;
  line-height: 1;
  text-shadow: 2px 2px 7px grey, 0px 0px 1px green;
  background-image: linear-gradient(90deg, red, blue);
  background-size: 0 4px;
  background-repeat: no-repeat;
  background-position: left bottom;
  transition: background-size 300ms ease;
}
.heading h1:hover {
  background-size: 100% 4px;
}
.discription {
  display: flex;
  /* border: 2px solid salmon; */
  text-align: center;
  width: 70%;
  justify-content: center;
  margin: auto;
  font-family: "Kanit", sans-serif;
  color: grey;
  font-size: large;
}
.introbut {
  /* border: 2px solid red; */
  display: inline-block;
  width: 100%;
  text-align: center;
  display: block;
}
.introbut button {
  background-color: black;
  margin: 0;
  padding: 0 3.5rem;
  height: 2.81rem;
  border-radius: 7px;
  background-color: #000;
  box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.128), 0 0 7px red, 0 0 7px blue;
  color: #fff;
  font-family: "Mulish", sans-serif;
  margin: 20px 50px;
  border: none;
}
.introbut #custombut {
  color: black;
  background-color: white;
  border-color: white;
  box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.128), 0 1 7px navajowhite,
    0 0 7px blueviolet;
}
.introbut button:hover {
  cursor: pointer;
}

.AboutUs {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: row;
  justify-content: left;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border: 7px solid #929292;
  border-radius: 7%;
  padding: 10px;
  margin: auto 50px;
  margin-top: 5rem;
}
.AboutUs p {
  /* border: 2px solid red; */
  display: inline-block;
  text-align: left;
  margin: 10rem 5rem;
  padding: 50px;
  width: 500px;
  font-size: 25px;
}
.AboutUs .Yash img {
  height: 30rem;
  width: auto;
  margin-top: 20px;
  margin-right: 50px;
  /* border: 2px solid violet; */
  max-width: 35%;
  height: auto;
}
.AboutUs .Vikas img {
  height: 30rem;
  width: auto;
  margin-top: 20px;
  margin-right: 50px;
  /* border: 2px solid violet; */
  max-width: 35%;
  height: auto;
}
.AboutUs img {
  transition: transform 0.3s;
}
.AboutUs img:hover {
  transform: scaleX(-1);
}
